---
import { formatDate } from "../lib/helpers";
import type { MarkdownLayoutProps } from "astro";
import BasicLayout from "./BasicLayout.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import LinkButton from "@components/LinkButton.astro";
import { t } from "i18next";

import { type App } from "@src/env";

const { locale } = Astro.locals as App.Locals;

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
  pubDate: string;
  minutesRead: string;
  locale: string;
}>;

const { slug } = Astro.params;
const { frontmatter } = Astro.props;
---

<BasicLayout
  frontmatter={frontmatter}
  slug={slug}
  page="blog"
  title={`Kito Danylo - ${frontmatter.title}`}
  description={frontmatter.description}
>
  <main
    class="mx-auto max-w-3xl w-full h-screen p-8 dark:text-neutral-100 light:text-neutral-800"
  >
    <LinkButton link={getRelativeLocaleUrl(frontmatter.locale, "blog")}
      >{t("back")}</LinkButton
    >
    <div class="my-10">
      <h1 class="text-5xl font-semibold">{frontmatter.title}</h1>
      <div
        class="flex justify-between pt-4 dark:text-gray-400 light:text-gray-600 text-sm"
      >
        <p>{formatDate(new Date(frontmatter.pubDate), locale)}</p>
        <p>{frontmatter.minutesRead}</p>
      </div>
    </div>
    <article class="prose prose-p:text-red-500 prose-slate prose-invert">
      <slot />
    </article>
  </main>
</BasicLayout>
